{% extends "base.html" %}
{% load static %}

{% block body %}


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="full">
                    <div class="logo_footer">
                        <a href="#"><img width="210" src=" {% static 'images/logo.png' %}" alt="#" /></a>
                    </div>
                    <div class="information_f">
                        <p><strong>ADDRESS:</strong>67 Thirsk Road, Blaxhall, Zip code  IP12 2GS, United Kingdom</p>
                        <p><strong>TELEPHONE:</strong> +44 123 DSTORE</p>
                        <p><strong>EMAIL:</strong> Dstore@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock body %}