{% extends 'index.html' %}

{% block content %}

<div id="pt">
    <div class="container mt-5">
        <div class="">
            <h2>D'Store Boutique Reciept</h2>
            <br>

            <h5>Items bought by {{request.user}}</h5>
            <br>

            <p>Order ref code: <b>{{order_ref_code}}</b></p>
            <br>

        </div>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">quantity</th>
                    <th scope="col">price</th>
                    <th scope="col">sub-total</th>
                </tr>
            </thead>
            <tbody>

                {% for it in its %}


                <tr>

                    <td>{{ it.item_name }}</td>
                    <td>{{it.qty}}</td>
                    <td>{{it.item_price}}</td>
                    <td>{% widthratio it.qty 1 it.item_price %}</td>

                </tr>

                {% endfor %}

                <tr>
                    <td><b>TOTAL</b></td>
                    <td></td>
                    <td></td>
                    <td><b>{{total}}</b></td>

                </tr>

            </tbody>
        </table>

        <div class="qr-img">
            {% if img_name %}
            <img width="200" height="200" src="/media/{{ img_name }}" alt="qr code">
            {% endif %}
        </div>


        <button onclick="myfun('pt')" class="btn btn-primary mt-3">Print Reciept</button>
        <a href="/" style="float:right"><button class="btn btn-primary mt-3">Homepage</button></a>
    </div>
    <br>
    <br>


</div>
<script type="text/javascript">
    function myfun(pa) {
        var bk = document.body.innerHTML;
        var dv = document.getElementById(pa).innerHTML;
        document.body.innerHTML = dv;
        window.print();
    }

</script>

{% endblock content %}