{% extends 'base.html' %}

{% block body %}

<div id="pt">
    <div class="container mt-5">
        <div class="">
            <h2>Reciept</h2>
            {{order}}
            {{order.orderitems}}
        </div>

        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">quantity</th>
                    <th scope="col">price</th>
                    <th scope="col">sub-price</th>
                </tr>
            </thead>
            <tbody>
                {% for it in order.orderitem %}
                
                
                <tr>
                    <td>{{it.item.title}}</td>
                    <td>{{it.quantity}}</td>
                    <td>{{it.item.price}}</td>
                    <td>{% widthratio it.quantity 1 it.item.price %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <button onclick="myfun('pt')" class="btn btn-primary mt-3">Get Bill</button>
    </div>

</div>

<script type="text/javascript">
    function myfun(pa) {
        var bk = document.body.innerHTML;
        var dv = document.getElementById(pa).innerHTML;
        document.body.innerHTML = dv;
        window.print();
    }

</script>

{% endblock body%}